
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: url(http://www.publicdomainpictures.net/pictures/220000/velka/white-bokeh-background-1493135167q8w.jpg);
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.argContainer {
    margin: 0.3em 0em 2.3em 0em;
    overflow: auto;
    height: 500px;
}
form, input, h1, h4, DebateItem {
    margin: 20px;
}

ul {
    list-style-type: none;
}

li.debate-item-style {
    padding: 0.3em 0.3em;
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 5px 0 grey;
    margin: 0.1em;
}

.landing {
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5));
    background: url('https://image.ibb.co/gJvN7F/bg.jpg');
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.landing .row {
    margin-top: 80px;
}

.landing img {
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width:auto;
    height:auto;
}

.landing .title {
    margin-top: -40px;
    font-size: 140px;
    font-family: 'Raleway', serif;
    font-weight: 480;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;

}

.landing .caption {
    margin-left: 40px;
    margin-top: -50px;
    display: inline-block;
    color: #fcfcfc;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 100;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

}

.debates {
    color: #424242;
    font-family: chaparral-pro,Georgia,"Times New Roman",Times,serif;
    font-size: 30px;
    overflow: auto;
    height: 500px;
 
}

::-webkit-scrollbar { 
    display: none; 
}
/*Profile Page css*/
div#userInfo {
    height: 100%;
   /* background: aliceblue;*/
}

div#userDebates {
    overflow: auto;
    height: 500px;
}

div#userArguments {
    overflow: auto;
    height: 500px;
}

.imgHolder {
    width: 128px;
    height: 128px;
    background: transparent;
}

img#ProfilePic {
    border-radius: 50%;
}

.profile {
    margin: 2% 1% 1% 3%;
}

.infoPadding {
    margin: 3% 1% 1% 1%;
}

.date {
    padding: 0;
}

.debItem {
    padding: 1%;
    margin: 1%;
}

.argItem {
    padding: 1%;
    margin: 1%;
}
/* Base */

a, a:link,
a:visited {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover{
    text-decoration: none
}


@font-face {
    font-family: 'chaparral-pro';
    src: url('./fonts/chaparralpro-regular.eot');
    src: url('./fonts/chaparralpro-regular.eot') format('embedded-opentype'),
    url('./fonts/chaparralpro-regular.woff') format('woff'),
    url('./fonts/chaparralpro-regular.ttf') format('truetype'),
    url('./fonts/chaparralpro-regular.svg#ChaparralProRegular') format('svg');
}

.voted{
    color: dodgerblue;
}

td{
    padding:0 15px 0 15px;
}



.boxStandard
{
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 0 5px 0 gray;
    padding: 20px 20px 20px 20px;
    margin: 0.3em;
    background: lightgray;
}

.newTopic {
    /* display: inline-flex; */
    margin: 3em;
}

