.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

form, input, h1, h4, DebateItem {
    margin: 20px;
}

ul {
    list-style-type: none;
}

li.debate-item-style {
    padding: 0.3em 0em;
}

.landing {
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
    background: url('https://image.ibb.co/gJvN7F/bg.jpg');
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.landing .row {
    margin-top: 80px;
}

.landing img {
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    width:auto;
    height:auto;
}

.landing .title {
    margin-top: -40px;
    font-size: 140px;
    font-family: 'Raleway', serif;
    font-weight: 450;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

.landing .caption {
    margin-left: 40px;
    margin-top: -50px;
    display: inline-block;
    color: #fcfcfc;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 100;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

}

