* {
    box-sizing: border-box;
}

.drift:hover {
    cursor: pointer;
}

/* Glow */

.glow {
    transition: all 0.4s ease-in-out;
    border-radius: 0.1em;
}

.glowAnimate{
    box-shadow: 0 0 0em 0.4em rgba(36, 143, 255, 0.6);
    transition: all 0.4s ease-in-out;
// box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}


/* Slide */

.slide {
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgba(0,0,0,0.07) 50%,
    rgba(0,0,0,0.02));
    background-size: 200% 100%;
    background-position:right bottom;

}
.slideAnimate {
    background-position:left bottom;
    transition: all 2s ease-in;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.bounce {
    transition: all 0.25s ease;
}

.bounceAnimate {
    transform: scale(0.97, 0.97) translate(1%, 2%);
    transform-origin: bottom right;
}


/* Wiggle */
.wiggleText {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.wiggleStatic {
    transform: scale(1, 1);
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.wiggleAnimate {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: scale(1.1, 1.1);
    transform-origin: center;
    display: inline-block;
}




/* Draw */

.dr input[type='checkbox'] {
    height: 0;
    width: 0;
    display: none;
}

.dr input[type='checkbox'] + label {
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
}

.dr input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

/* Checkbox background */
.dr input[type='checkbox']:checked + label > span {
    border: .5em solid #3c80e6;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

.dr input[type='checkbox']:checked + label > span:before {
    content: "";
    position: absolute;
    top: .6em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce {
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(.85);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes checkbox-check{
    0%{
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
        width: .3em;
        height: .6em;
        border-color: #fff;
        transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}


/* Expand */

a.cruise{
    color: #337ab7;
    position: relative;
    text-decoration: none;
    transition: all 0.15s ease-out;
}
a.cruise:before {
    background: #f00;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
a.cruise:hover {
    transition: all 0.15s ease-out;
}
a.cruise:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



/* Misc */

*:focus {
    outline: none !important;
}

.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
}
